<!DOCTYPE html>
{% load static %}

<html dir="rtl" lang="ar">
<head>
    <title>LandingPage</title>
    <link
            rel="stylesheet"
            href="https://cdn.rtlcss.com/semantic-ui/2.2.6/semantic.rtl.min.css"
            integrity="sha384-SoFpYwv1KAavXaXLYNMWzoh72UjpjHzNfD3vfDLOUQmHP48dPDgmDsihSuiyXbjb"
            crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/form_page.css' %}">

    <meta charset="utf-8">

</head>
<body>

<div class="ui container">
    <!-------------------  Menu  -------------------->
    <div class="ui top  menu">
        <div class="item">
            <img src="{% static 'images/logo.jpg' %}"/>
        </div>
        <a class="item">أخبار عاجلة</a>
        <a class="item">رياضة</a>
        <a class="item">مال وأعمال</a>
    </div>

<!--
    <div class="ui bottom fixed menu">
        <div class="item">
            <img src="{% static 'images/logo.jpg' %}"/>

        </div>
        <a class="item">Features</a>
        <a class="item">Testimonials</a>
        <a class="item">Sign-in</a>
    </div>
-->
    <!-------------------  END Menu  -------------------->


    <!-------------------  Article  -------------------->
    {% for post in posts %}

    <div class="ui fluid card">

        <div class="image"> <!-- stoped hereeeeeeeeeeeeeeeee -->
             <img src="{{ post.cover }}" alt="{{ post.title }}">
        </div>
        <div class="content">

            <a class="header">{{ post.title }}</a>
            <div class="meta">
                <span class="date">تم النشر في: {{ post.published_date }}</span>
            </div>
            <div class="description des">{{post.content}}</div>
        </div>
        <div class="extra content">
            <a>
                <i class="user icon"></i>
                22 Friends
            </a>
        </div>
        {% endfor %}

    </div>
    <!-------------------  End Article  -------------------->


</div>


<div class="ui inverted segment">

    <!-- Form for reg data user -->
    <form action="{% url 'LandingPage:form_page' %}" method="POST" class="ui inverted form container">
        {% csrf_token %}

        <!-- First Name -->
        <div class="field">
            <label>الأسم الاول</label>
            {{form.first_name}}
        </div>

        <!-- First Name -->
        <div class="field">
            <label>الأسم الثاني</label>
            {{form.second_name}}
        </div>

        <!-- E-mail -->
        <div class="field">
            <label>البريد الألكتروني</label>
            {{form.E_mail}}
        </div>


        <!--
                    <div class="field">
              <label>Country</label>
              <div class="ui fluid search selection dropdown" >
                <input type="hidden" name="country">
                <i class="dropdown icon"></i>
                <div class="default text">Select Country</div>
                <div class="menu">
            <div class="item" data-value="bh"><i class="bh flag"></i>Bahrain</div>
            <div class="item" data-value="kw"><i class="kw flag"></i>Kuwait</div>
            <div class="item" data-value="qa"><i class="qa flag"></i>Qatar</div>
            <div class="item" data-value="sa"><i class="sa flag"></i>Saudi Arabia</div>
          </div>
               </div>
            </div>
        -->
        <!-- Countries -->
        <div class="ui field">
            <label>أختر الدولة</label>
            {{form.country}}
        </div>

        <!-- Mobile Number -->
        <!-- Mobile Number -->
        <div class="ui field">
            <label>رقم الهاتف</label>

            <div class="inline fields">
                <div class="eight wide field">
                    {{form.phone}}
                </div>

                <div class="three wide field">
                    {{form.phone_code}}
                </div>
            </div>
        </div>

        <!-- Birthdate -->
                <div class="ui field">
            <label>العمر</label>
            {{form.birthday}}
        </div>


        <!-- Nationalety -->
        <div class="ui field">
            <label>الجنسية</label>
            {{form.nationality}}
        </div>
        <button class="ui fluid positive button" type="submit">Submit</button>
    </form>
</div>







<!--

<p>HH</p>
    <h2>New post</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

-->



















<div class="ui container">
<div class="ui comments">
  <h3 class="ui dividing header">التعليقات</h3>
  <div class="comment">
    <a class="avatar">
      <img src="{% static 'images/matt.jpg' %}"/>
    </a>
    <div class="content">
      <a class="author">مناصر العجمى</a>
      <div class="metadata">
        <span class="date">Today at 5:42PM</span>
      </div>
      <div class="text">
        الشركه تعمل بالسوق السعودي منذ سنتان وليست بجديده ولكن الاعلام بدأ يلتفت اليها والله كل شىء ينتشر يطوله الخراب ...الحين كل الوافدين يقفزون بالشركه ويخربوها ما نبى كلام كثير حولها الله يسامحكم
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
  <div class="comment">
    <a class="avatar">
      <img src="{% static 'images/elliot.jpg' %}"/>
    </a>
    <div class="content">
      <a class="author">صالح عبد الله </a>
      <div class="metadata">
        <span class="date">Yesterday at 12:30AM</span>
      </div>
      <div class="text">
        <p>        الشركه تعمل بالسوق السعودي منذ سنتان وليست بجديده ولكن الاعلام بدأ يلتفت اليها والله كل شىء ينتشر يطوله الخراب ...
!</p>
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
    <div class="comments">
      <div class="comment">
        <a class="avatar">
      <img src="{% static 'images/jenny.jpg' %}"/>
        </a>
        <div class="content">
          <a class="author">ابو نواف</a>
          <div class="metadata">
            <span class="date">Just now</span>
          </div>
          <div class="text">
        الشركه تعمل بالسوق السعودي منذ سنتان وليست بجديده ولكن الاعلام بدأ يلتفت اليها والله كل شىء ينتشر يطوله الخراب ...الحين كل الوافدين يقفزون بالشركه ويخربوها ما نبى كلام كثير حولها الله يسامحكم
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="comment">
    <a class="avatar">
      <img src="{% static 'images/joe.jpg' %}"/>
    </a>
    <div class="content">
      <a class="author">ماجد الحامد</a>
      <div class="metadata">
        <span class="date">5 days ago</span>
      </div>
      <div class="text">
        الشركه تعمل بالسوق السعودي منذ سنتان وليست بجديده ولكن الاعلام بدأ يلتفت اليها والله كل شىء ينتشر يطوله الخراب ...الحين كل الوافدين يقفزون بالشركه ويخربوها ما نبى كلام كثير حولها الله يسامحكم
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
  <form class="ui reply form">
    <div class="field">
      <textarea></textarea>
    </div>
    <div class="ui blue labeled submit icon button">
      <i class="icon edit"></i> Add Reply
    </div>
  </form>
</div>
</div>






<!-- compiled and minified JavaScript -->
<script
        src="https://cdn.rtlcss.com/semantic-ui/2.2.6/semantic.min.js"
        integrity="sha384-kZT+CItOKWHYL+Rz37W2NEz60Pu2JJJ8wgzq+82VWsi3QM53eNFzQJZqzhPuyo63"
        crossorigin="anonymous"></script>

<script src="{% static " js/form_page.js" %}"></script>


    </body>
</html>
