{% load analytical %}
<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    {% analytical_head_top %}

    <meta charset="UTF-8">
    <title>Title</title>
        <link
            rel="stylesheet"
            href="https://cdn.rtlcss.com/semantic-ui/2.2.6/semantic.rtl.min.css"
            integrity="sha384-SoFpYwv1KAavXaXLYNMWzoh72UjpjHzNfD3vfDLOUQmHP48dPDgmDsihSuiyXbjb"
            crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/thank_you_page.css' %}">

    {% analytical_head_bottom %}
</head>
<body>
        {% analytical_body_top %}


    <div class="ui center aligned container" id="center">
        <h2 class="ui icon center aligned header">
<img src="https://img.icons8.com/cute-clipart/64/000000/approval.png">
            <div class="content">
    لقد تم التسجيل بنجاح
    <div class="sub header">ادعوا 10 من أصدقائك الان لتربح 10% من ارباحهم عند قيامهم بالتسجيل</div>
  </div>
</h2>
        <h1>Hiii</h1>
<a href="https://wa.me/?text=ادعوا 10 من أصدقائك الان ">Share this</a>
    </div>


<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '916858168707312');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=916858168707312&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
        {% analytical_body_bottom %}
</body>
</html>