<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
        <link
            rel="stylesheet"
            href="https://cdn.rtlcss.com/semantic-ui/2.2.6/semantic.rtl.min.css"
            integrity="sha384-SoFpYwv1KAavXaXLYNMWzoh72UjpjHzNfD3vfDLOUQmHP48dPDgmDsihSuiyXbjb"
            crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/thank_you_page.css' %}">

</head>
<body>


    <div class="ui center aligned container" id="center">
        <h2 class="ui icon center aligned header">
<img src="https://img.icons8.com/cute-clipart/64/000000/approval.png">
            <div class="content">
    شكرا يا فندم لتسجيلك  هيتم التواصل فى خلال 24 ساعة
    <div class="sub header">ادعوا 10 من أصدقائك الان لتربح 10% من ارباحهم عند قيامهم بالتسجيل</div>
  </div>
</h2>
<a href="https://wa.me/?text=ادعوا 10 من أصدقائك الان "> <h1>Share this</h1></a>
    </div>


</body>
</html>