<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link
            rel="stylesheet"
            href="https://cdn.rtlcss.com/semantic-ui/2.2.6/semantic.rtl.min.css"
            integrity="sha384-SoFpYwv1KAavXaXLYNMWzoh72UjpjHzNfD3vfDLOUQmHP48dPDgmDsihSuiyXbjb"
            crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/thank_you_page.css' %}">

</head>
<body>

    <div class="ui center aligned container" id="center">
        <h2 class="ui icon center aligned header">
<img src="https://img.icons8.com/cute-clipart/64/000000/approval.png">
            <div class="content">
    لقد تم التسجيل بنجاح
    <div class="sub header">ادعوا 10 من أصدقائك الان لتربح 10% من ارباحهم عند قيامهم بالتسجيل</div>
  </div>
</h2>
        <h1>Hiii</h1>
    </div>





</body>
</html>