

body{
    height : 3000px;
}

.form {
    margin-top : 50px;
}

#comment.comments{
    margin-top : 10000x;
}

#des {
    font-size: 1.3rem;
    word-spacing: 3px;
    line-height: 1.5;

}

#logo {
    margin-top : 30px;
    padding-right : 20px;
}